.button_formadmin {
	padding: 1px;
	display: inline;
	background-color: white;
}

.label_formadmin {
	margin: 3px;
	padding: 3px;
	display: block;
	font-weight: bold;
	background-color: #E8E8E8;
}

.sp_table_formadmin {
	
	background-color: white;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: block;
	height: 200px;
	overflow: auto;

}

.sp_table_formadmin td {
	
	padding-right: 5px;
	padding-left: 5px;
}

.grid_value_container {
	width: 150px;
}

.form_viewer_block_formadmin {
	overflow: auto;
	max-height: 500px;
}