.sp_table_formadmin, .sp_table2_formadmin {
	
	background-color: white;
	margin: 0px;
	padding: 0px;
	display: block;
}

.sp_table_formadmin {
	width: 200px;
}

.sp_table2_formadmin {
	width: 100%;
}

.sp_table2_formadmin th, .sp_table_formadmin th {
	background-color: #D7D7D7;
}

.sp_table2_formadmin th {
	padding-left: 30px;
	padding-right: 30px;
}

.sp_table_formadmin td, .sp_table2_formadmin td {
	padding-right: 5px;
	padding-left: 5px;
	padding: 4px 6px;
	font-size: 12px !important;
}

.grid_value_container {
	width: 150px;
}

.form_viewer_block_formadmin {
	overflow: auto;
	width: auto;
	height: auto;
	position: absolute;
	top: 86px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border-color: #a1a1a1;
}

.tables_container_formadmin {
	background-color: #FAFAFA;
	overflow: nonde;
}

.tables_container_formadmin, .table1_container_formadmin, .table2_container_formadmin {
	height: 200px;
}

.table1_container_formadmin, .table2_container_formadmin {
	
	overflow: auto;
	top: 50;
	position: absolute;
	border-color: #a1a1a1;
	border-style: solid;
	border-width: 0px;
	background-color: white;
	border-bottom-width: 1px;
}

.table1_container_formadmin {
	left: 0;
	border-right-width: 1px;
	overflow: scroll;
}

.table2_container_formadmin {
	left: 216px;
	border-left-width: 0px;
	position: absolute;
	right: 0 !important;
	width: auto !important;
	overflow: scroll;
}

.table2_container_formadmin table{
	width: 100% !important;
	right: 0 !important;
}

.table2_container_formadmin table th{
}

body#formbuilder div.wf_block.form_viewer_block_formadmin .wf_titlebar {
	display: none;
}

.table1_container_formadmin, .table2_container_formadmin {
	/*background: #fef9eb;*/
	background: #F7F3E5;
}

.table1_container_formadmin table, .table2_container_formadmin table {
	/*background: #fef9eb;*/
	background: #F7F3E5;
}

.table1_container_formadmin table th, .table2_container_formadmin table th {
	background: #daf0ca !important;
	border-bottom: 1px solid #bfe6a7;
	padding: 4px 6px;
	font-size: 12px;
	text-align: left;
}

#fbAdminPage{
	top: 56px;
	left: 0px;
	position: absolute;
	right: 0px;
	bottom: 62px !important;
	overflow: auto !important;
	height: auto !important;
}

fieldset.group legend {
	display: none !important;
	float: none !important;
	width: 100% !important;
	border: 1px #f00 solid;
	margin: 0 !important;
	padding: 0 !important;
}

fieldset.group span span {
	font-size: 12px !important;
}

fieldset.group span label {
	width: 190px;
	font-size: 12px !important;
}